body {
  background-color: #F9F9F9;
  font-family: Montserrat;
}

.main-container {
  width: 100%;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: darkgray;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  align-items: center;
}

.hero-text {
  padding: 0 25%
}

.hero h1 {
  color: white;
  font-weight: 700;
}

.hero h2 {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding-right: 41%;
  line-height: 1.2;
}

.hero button {
  color: white;  
  background-color: #000094;
  border: solid 0px;
  padding: 10px 15px 10px 30px;
  font-size: 13px;
  margin-top: 20px;
}

.hero i {
  margin-left: 15px;
}

svg {
    position: absolute;
    height: 50px;
    right: 315px;
    top: 0;
}

.main-content {
  width: 100%;
  padding: 70px 315px;
  position: relative;
}

.nostri-valori {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.nostri-valori .header {
  flex-basis: 100%;
  position: relative;
}

.nostri-valori .header {
  position: relative;
}

.nostri-valori .header::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 52px;    
  top: 40px;
  background-color: #000094;
}


.nostri-valori .item {
  flex-basis: 30%;
  margin: 30px 0px;
}

.nostri-valori .header h1 {
  font-size: 26px;
  color: #464646;
  font-weight: 700;
}

.nostri-valori .header p {
  font-size: 14px;
  margin: 25px 0px;
}

.nostri-valori .item h2 {
  color:#000094;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.nostri-valori .item p {
  font-size: 14px;
}

.nostri-valori .item a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.nostri-valori .item i {
  color: #000094;
}

.accordion {
  --bs-accordion-active-bg: #fff;
  --bs-accordion-active-color: #464646;
  --bs-accordion-border-color: transparent;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-item {
  margin: 15px 0px;
  border-radius: 0px 0px 0px 0px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 14px rgb(0,0,0,0.1);
}

.accordion button {
  font-weight: 600;
}

.accordion-item {
  position: relative;
}

.accordion-item::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 95%;
  bottom: -2.5px;
  left: 20px;
  background-color: #000094;
  z-index: 99;
}

.accordion-body {
  position: relative;
}

.accordion-body::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 52px;
  top: 0px;
  left: 20px;
  background-color: #000094;
}

.accordion p {
  font-size: 14px;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .hero {
    background-position-x: 58%;
  }

  .hero-text {
    margin-top: 150px;
    padding:0 15%;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero h2 {
    font-size: 14px;
    padding-right: 11%;
    line-height: 1.3;
  }

  .hero button {
    font-size: 11px;
  }

  svg {
    height: 35px;
    right: 25px;
  }

  .main-content {
    padding: 10px 25px;
  }

  .nostri-valori {
    padding: 35px 20px;
  }

  .nostri-valori .item {
    flex-basis: 100%;
    margin: 5px 0px 30px;
  }

  hr {
    margin: 10px 0px;
  }

  .accordion-button {
    font-size: 15px;
  }

  .accordion-item::after {
    width: 86%;
  }
} 

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .hero {
    background-position-x: 58%;
  }

  .hero-text {
    padding: 0 25%;
    margin-top: 100px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero h2 {
    font-size: 14px;
    padding-right: 11%;
    line-height: 1.3;
  }

  .hero button {
    font-size: 11px;
  }

  svg {
    right: 85px;
    height: 35px;
  }

  .main-content {
    padding: 10px 65px;
  }

  .nostri-valori {
    padding: 35px 20px;
  }

  .nostri-valori .header::after {
    top: 40px;
  }

  .nostri-valori .item {
    flex-basis: 100%;
    margin: 5px 0px 30px;
  }

  hr {
    margin: 10px 0px;
  }

  .accordion-button {
    font-size: 15px;
  }

  .accordion-item::after {
    width: 88%;
  }
} 

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero {
    background-position-x: 58%;
  }

  .hero-text {
    padding: 0 20%;
    margin-top: 135px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 16px;
    padding-right: 11%;
    line-height: 1.3;
  }

  .hero button {
    font-size: 12px;
  }

  svg {
    height: 35px;
    right: 95px;
  }

  .main-content {
    padding: 30px 95px;
  }

  .nostri-valori .header::after {
    top: 40px;
  }

  .nostri-valori .item {
    flex-basis: 46%;
    margin: 5px 0px 30px;
  }

  hr {
    margin: 10px 0px;
  }

  .accordion-button {
    font-size: 15px;
  }

  .accordion-item::after {
    width: 94%;
  }
} 

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .hero {
    background-position-x: 58%;
  }
  
  .hero-text{
    margin-top: 150px;
    padding: 0 20%;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero h2 {
    font-size: 13px;
    padding-right: 45%;
    text-align: justify;
    line-height: 1.5;
  }

  svg {
    right: 220px;
 }

 .main-content {
    width: 100%;
    padding: 70px 220px;
  }
} 

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .hero {
    background-position-x: 58%;
  }
  
  .hero-text {
    padding: 0 335px;
    margin-top: 100px;
  }
  
  .hero h1 {
    font-size: 43px;
  }

  .hero h2 {
    font-size: 15px;
    padding-right: 43%;
    text-align: justify;
    line-height: 1.5;
  }
  
  svg {
    right: 305px;
  }

  .main-content {
    width: 100%;
    padding: 70px 305px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
  .hero {
    background-position-x: 58%;
  }
  
  .hero-text {
    padding: 0 340px;
  }
  
  .hero h1 {
    font-size: 45px;
  }

  .hero h2 {
    font-size: 16px;
    padding-right: 43%;
    text-align: justify;
    line-height: 1.5;
  }
  
  svg {
    right: 315px;
  }

  .main-content {
    width: 100%;
    padding: 70px 315px;
  }
}

@media only screen and (min-width: 1601px) and (max-width:1920px) {
  .hero {
    background-position-x: 58%;
  }
  
  .hero-text {
    padding: 0 450px;
    margin-top: 100px;
  }
  
  .hero h1 {
    font-size: 50px;
  }

  .hero h2 {
    font-size: 17px;
    padding-right: 43%;
    text-align: justify;
    line-height: 1.5;
  }
  
  svg {
    right: 400px;
  }

  .main-content {
    width: 100%;
    padding: 70px 400px;
  }

  .nostri-valori .header h1 {
    font-size: 35px;
  }

  .nostri-valori .header::after {
    top: 50px;
  }

  .nostri-valori .header p {
    font-size: 17px;
  }

  .nostri-valori .item h2, .nostri-valori .item p, .nostri-valori .item a  {
    font-size: 17px;
  }

  .accordion-button {
    font-size: 20px;
  }

  .accordion-body p {
    font-size: 17px;
  }
}


@media only screen and (min-width: 1921px) {
  
  .hero-text {
    padding: 0 500px;
    margin-top: 100px;
  }
  
  .hero h1 {
    font-size: 53px;
  }

  .hero h2 {
    font-size: 18px;
    padding-right: 40%;
    text-align: justify;
    line-height: 1.5;
  }
  
  svg {
    right: 420px;
  }

  .main-content {
    width: 100%;
    padding: 70px 420px;
  }

  .nostri-valori .header h1 {
    font-size: 35px;
  }

  .nostri-valori .header::after {
    top: 50px;
  }

  .nostri-valori .header p {
    font-size: 18px;
  }

  .nostri-valori .item h2, .nostri-valori .item p, .nostri-valori .item a  {
    font-size: 18px;
  }

  .accordion-button {
    font-size: 22px;
  }

  .accordion-body p {
    font-size: 18px;
  }
}